astroid==1.5.3
Babel==2.3.4
backports.functools-lru-cache==1.4
Beaker==1.8.1
bleach==1.5.0
blinker==1.4
-e git+https://github.com/ckan/ckan.git@0eac6137c034d647690a1c8e4826a65f9f77afa9#egg=ckan
ckanext-datarequests==0.3.2
-e git+git@github.com:andela-sogumbe/ckanext-dataviewanalytics.git@bcc8959a180f5b426d5937284c155c199c6abde2#egg=ckanext_dataviewanalytics
ckanext-iauthfunctions==0.0.1
-e git+git@github.com:andela/ckanext-openafrica.git@b710fb537c6c97e7f81cb6f6a81c232c17600fcc#egg=ckanext_openafrica
click==6.6
configparser==3.5.0
decorator==4.0.6
enum34==1.1.6
fanstatic==0.12
Flask==0.11.1
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.2
FormEncode==1.3.0
funcsigs==1.0.2
html5lib==0.9999999
isort==4.2.15
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.3.1
Mako==1.0.4
Markdown==2.6.7
MarkupSafe==0.23
mccabe==0.6.1
nose==1.3.7
ofs==0.4.2
ordereddict==1.1
Pairtree===0.7.1-T
passlib==1.6.5
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==2.0.2
pbr==1.10.0
polib==1.0.7
psycopg2==2.4.5
Pygments==2.1.3
pylint==1.7.2
Pylons==0.9.7
pysolr==3.6.0
python-dateutil==1.5
python-geoip==1.2
python-geoip-geolite2==2015.303
python-magic==0.4.12
pytz==2016.7
pyutilib.component.core==4.6.4
redis==2.10.5
repoze.lru==0.6
repoze.who==2.3
repoze.who-friendlyform==1.0.8
requests==2.11.1
Routes==1.13
rq==0.6.0
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==0.9.6
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
tzlocal==1.3
unicodecsv==0.14.1
vdm==0.13
WebError==0.13.1
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
Werkzeug==0.11.10
wrapt==1.10.11
zope.interface==4.3.2
